.new-post {
    h2 {
        font-family: RobotoBold;
    }
    .formFields {
        display: flex;
        justify-content: space-between;
        .left {
            display: flex;
            flex-direction: column;
        }
        .right {
            flex-basis: 812px;
        }
    }
    .buttons {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: '991px') {
        .formFields {
            flex-direction: column;
            .left {
                margin-bottom: 25px;
                align-items: flex-start;
            }
            .right {
                flex-basis: 0;
            }
        }
    }
}
