.header {
    //background-color: #006cff !important;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .0625);
    position: fixed;
    top: 0;
    z-index: 1000;
    .brand {
        display: flex;
        align-items: center;
        .logo {
            width: 60px;
            height: 60px;
            transition: 500ms ease-in-out;
        }
        .logo-name {
            margin: 0;
            //color: white;
            color: #72777a;
            font-size: 25px;
            transition: 500ms;
            font-family: RobotoBold;
        }
        &:hover {
            .logo {
                transform: scale(.9) rotate(360deg);
                cursor: pointer;
            }
            .logo-name {
                opacity: 0.8;
                cursor: pointer;
            }
        }
    }
    //.nav {
    //    padding-top: 4px;
    //    a {
    //        color: white;
    //        font-size: 1.2em;
    //        font-family: RobotoBold;
    //        text-transform: uppercase;
    //    }
    //    .active {
    //        color: orange;
    //    }
    //}
    //.Qwerty{
    //    position: fixed;
    //    background: black;
    //    width: 100%;
    //    height: 100vh;
    //    left: 0;
    //    top: 0;
    //    z-index: 5;
    //    transform: translateY(-100%);
    //    transition: 500ms;
    //}
    //.show{
    //    transform: translateY(0%);
    //}
}
